<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.edu.cn.community.mapper.DiscoveryMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,activitiy_place, activity_organize, activity_contact,
        activity_time,
        activity_content,
        publish_time, receiver_name, receiver_type, receiver_phone, receiver_time, receiver_partner,
        receiver_management, activity_topic, activity_image1, activity_image2, activity_image3,
        activity_text1, activity_text2, over_time, finish_time, activity_text3, activity_comment,
        isReceived, isFinished, isOver
    </sql>

    <!--根据用户名查找用户-->
    <select id="list" resultType="com.abc.edu.cn.community.entity.DiscoveryDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM discovery
    </select>
</mapper>